{% extends "layout.html" %}
{% block content %}

<div class="check_content text-center">
    <h4 class="check_title">注文確認</h4>
    <div id="check_content_inner" class="card">
        <p class="check_name">料理名：<u>{{menu["menuname"]}}</u></p>
        <p class="check_time">配達時間：<u>{{delivery_time}}</u></p>
    </div>
    <p class="check_final">以上でよろしいですか？</p>
</div>
<div class="button_content mt-5">
    <a href="{{url_for('blog.ordered', user_name=user_name, menu_id=menu_id, delivery_time=delivery_time)}}" class="button_link">
        <p class="button_text">注文する</p>
    </a>
</div>

{% endblock %}