{% extends "layout.html" %}
{% block content %}

<div class="order">
    {% if eat_time=="morning" %}
        <h3 class="text-center order_text mt-5">明日の朝食を<br>決めてください</h3>
    {% elif eat_time=="lunch" %}
        <h3 class="text-center order_text mt-5">明日の昼食を<br>決めてください</h3>
    {% elif eat_time=="dinner" %}
        <h3 class="text-center order_text mt-5">明日の夕食を<br>決めてください</h3>
    {% endif %}
</div>

{% for menu in menus %}
<div id="order" class="card mt-3">
    <a href="{{ url_for("blog.detail", user_name=user_name, menu_id=menu["id"], eat_time=eat_time) }}">
        <div class="order_content">
            <div class="order_img">
                <img class="img" src="{{url_for('static', filename='img/menu/' + menu["img"]) }}" alt="">
            </div>
            <div class="order_text">
                <div class="order_text_inner">
                    <p>{{menu["menuname"]}}</p>
                    <p>カロリー：{{menu["calorie"]}} kcal</p>
                </div>
            </div>
        </div>
    </a>
</div>
{% endfor %}

{% endblock %}