{% extends "layout.html" %}
{% block header %}
<li class="list-group-item layout_back"><a href={{url_for('blog.question', user_name="None")}}>Q&A</a></li>
<li class="list-group-item layout_back"><a href={{url_for('blog.terms', user_name="None")}}>利用規約</a></li>
{% endblock %}
{% block content %}

<div class="top">
    <h1 class="text-center title mt-5">Health Check Delivery</h1>
    <p class="logo">
        <img class="logo_img" src="{{url_for('static', filename='img/logo/logo2.PNG') }}" alt="">
    </p>
    <div class="button_content mt-5">
        <a href={{url_for('auth.login')}} class="button_link">
            <p class="button_text">ログイン</p>
        </a>
    </div>
    <div class="button_content mt-3">
        <a href={{url_for('auth.description')}} class="button_link">
            <p class="button_text">新規登録</p>
        </a>
    </div>    
<div>

{% endblock %}
