{% extends "layout.html" %}
{% block content %}

  <form method="post">
    <label for="address">住所</label>
    <input name="address" id="address" value="{{ request.form['address'] or user['address'] }}" required>
    <label for="weight">体重</label>
    <input name="weight" id="weight" value="{{ request.form['weight'] or user['weight'] }}" required>
    <label for="height">身長</label>
    <input name="height" id="height" value="{{ request.form['height'] or user['height'] }}" required>
    <input type="radio" name="course" value="health">標準健康コース
    <input type="radio" name="course" value="diet">ダイエットコース
    <input type="radio" name="course" value="muscle">筋肉コース
    <input type="submit" value="Save">
  </form>

{% endblock %}