{% extends "layout.html" %}
{% block content %}

<h3 class="update_title text-center update_text mt-5">プロフィール編集</h3>
<form method="post" class="login_form">
  <div class="form-group update_text mt-3">
    <label for="address">住所</label>
    <input name="address" type="text" class="form-control" id="formGroupExampleInput2" value="{{ request.form['address'] or user['address'] }}" required>
  </div>
  <div class="form-group update_text mt-3">
    <label for="tel">電話番号</label>
    <input name="tel" type="text" class="form-control" id="formGroupExampleInput2" value="{{ request.form['tel'] or user['tel'] }}" required>
  </div>
  <div class="form-group update_text mt-3">
    <label for="mail">メールアドレス（任意）</label>
    <input name="mail" type="text" class="form-control" id="formGroupExampleInput2" value="{{ request.form['height'] or user['height'] }}">
  </div>
  <div class="form-group update_text mt-3">
    <label for="weight">体重（kg）</label>
    <input name="weight" class="form-control" id="formGroupExampleInput" value="{{ request.form['weight'] or user['weight'] }}" required>
  </div>
  <div class="form-group update_text mt-3">
    <label for="height">身長（cm）</label>
    <input name="height" class="form-control" id="formGroupExampleInput2" value="{{ request.form['height'] or user['height'] }}" required>
  </div>
  {% if request.form['gender'] == "male" or user['gender'] == "male" %}
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio1" name="gender" class="custom-control-input" value="male" checked required>
    <label class="custom-control-label update_text" for="customRadio1">男性</label>
  </div>
  {% else %}
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio1" name="gender" class="custom-control-input" value="male" required>
    <label class="custom-control-label update_text" for="customRadio1">男性</label>
  </div>
  {% endif %}
  {% if request.form['gender'] == "female" or user['gender'] == "female" %}
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio2" name="gender" class="custom-control-input" value="female" checked required>
    <label class="custom-control-label update_text mt-3" for="customRadio2">女性</label>
  </div>
  {% else %}
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio2" name="gender" class="custom-control-input" value="female" required>
    <label class="custom-control-label update_text mt-3" for="customRadio2">女性</label>
  </div>
  {% endif %}
  <!--
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio1" name="gender" class="custom-control-input" value="male" required>
    <label class="custom-control-label" for="customRadio1">男性</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio2" name="gender" class="custom-control-input" value="female" required>
    <label class="custom-control-label" for="customRadio2">女性</label>
  </div>
  -->
  <!--
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1" name="allergies" value="egg">
    <label class="custom-control-label" for="customCheck1">たまご</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1" name="allergies" value="milk">
    <label class="custom-control-label" for="customCheck1">ミルク</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1" name="allergies" value="wheat">
    <label class="custom-control-label" for="customCheck1">小麦</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1" name="allergies" value="shrimp">
    <label class="custom-control-label" for="customCheck1">エビ</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1" name="allergies" value="crab">
    <label class="custom-control-label" for="customCheck1">カニ</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1" name="allergies" value="peanuts">
    <label class="custom-control-label" for="customCheck1">ピーナッツ</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1" name="allergies" value="soba">
    <label class="custom-control-label" for="customCheck1">蕎麦</label>
  </div>-->
  <div class="update">
    {% if request.form['egg'] == 1 or user['egg'] ==1 %}
    <label class="update_text mt-3">
      <input type="checkbox" name="allergies" value="egg" checked>たまご
    </label>
    {% else %}
    <label class="update_text mt-3">
      <input type="checkbox" name="allergies" value="egg">たまご
    </label>
    {% endif %}

    {% if request.form['milk'] == 1 or user['milk'] ==1 %}
    <label class="update_text mt-3">
      <input type="checkbox" name="allergies" value="milk" checked>ミルク
    </label>  
    {% else %}
    <label class="update_text mt-3">
      <input type="checkbox" name="allergies" value="milk">ミルク
    </label>    
    {% endif %}

    {% if request.form['wheat'] == 1 or user['wheat'] ==1 %}
    <label class="update_text mt-3">
      <input type="checkbox" name="allergies" value="wheat" checked>小麦
    </label>  
    {% else %}
    <label class="update_text mt-3">
      <input type="checkbox" name="allergies" value="wheat">小麦
    </label>    
    {% endif %}    

    {% if request.form['shrimp'] == 1 or user['shrimp'] ==1 %}
    <label class="update_text mt-3">
      <input type="checkbox" name="allergies" value="shrimp" checked>えび
    </label>  
    {% else %}
    <label class="update_text mt-3">
      <input type="checkbox" name="allergies" value="shrimp">えび
    </label>    
    {% endif %}    

    {% if request.form['crab'] == 1 or user['crab'] ==1 %}
    <label class="update_text mt-3">
      <input type="checkbox" name="allergies" value="crab" checked>かに
    </label>  
    {% else %}
    <label class="update_text mt-3">
      <input type="checkbox" name="allergies" value="crab">かに
    </label>    
    {% endif %}    

    {% if request.form['peanuts'] == 1 or user['peanuts'] ==1 %}
    <label class="update_text mt-3">
      <input type="checkbox" name="allergies" value="peanuts" checked>ピーナッツ(落花生)
    </label>  
    {% else %}
    <label class="update_text mt-3">
      <input type="checkbox" name="allergies" value="peanuts">ピーナッツ
    </label>    
    {% endif %}        


    {% if request.form['soba'] == 1 or user['soba'] ==1 %}
    <label class="update_text mt-3">
      <input type="checkbox" name="allergies" value="soba" checked>そば
    </label>  
    {% else %}
    <label class="update_text mt-3">
      <input type="checkbox" name="allergies" value="soba">そば
    </label>    
    {% endif %} 
  </div>
  <button type="submit" class="btn btn-outline-danger mt-3" value="編集する">編集する</button>
</form>

{% endblock %}