$backgroundColor:#faeee7;
$buttonColor:#ff8ba7;
$buttontextColor: #33272a;
$paragraphColor: #594a4e;
$headlineColor: #33272a;

.allergies_text{
    color: $paragraphColor;
    width: 90%;
    margin: 0 auto;
}