$backgroundColor:#faeee7;
$buttonColor:#ff8ba7;
$buttontextColor: #33272a;
$paragraphColor: #594a4e;
$headlineColor: #33272a;

.description_title{
     width: 90%;
     margin: 0 auto;
}

.use_video{
    width: 80%;
    margin: 0 auto;
    .video{
        width: 100%;
    }
}