$backgroundColor:#faeee7;
$buttonColor:#ff8ba7;
$buttontextColor: #33272a;
$paragraphColor: #594a4e;
$headlineColor: #33272a;

$baseFontFamily: しねきゃぷしょん,
"游ゴシック",
YuGothic,
"メイリオ",
Verdana,
"Hiragino Kaku Gothic ProN",
Meiryo,
sans-serif;

.top_nav{
    background-color: $headlineColor;
}

.logo{
    width: 40%;
    margin: 0 auto;
    .logo_img{
        width: 100%;
    }
}

@media(min-width: 768px) {
    .logo{
        // width: 10%;
        margin-top: 50px;
    }
}

.title{
    color: $paragraphColor;
    font-family: 'Chalkboard';
}

.btn_content{
    width: 90px;
    margin: 0 auto;
    .bnt_inner{
        width: 90px;
    }
}




