$backgroundColor:#faeee7;
$buttonColor:#ff8ba7;
$buttontextColor: #33272a;
$paragraphColor: #594a4e;
$headlineColor: #33272a;

$baseFontFamily: しねきゃぷしょん,
"游ゴシック",
YuGothic,
"メイリオ",
Verdana,
"Hiragino Kaku Gothic ProN",
Meiryo,
sans-serif;

.top_nav{
    background-color: $headlineColor;
}

.logo{
    width: 40%;
    margin: 0 auto;
    .logo_img{
        width: 100%;
    }
}

.title{
    color: $paragraphColor;
    font-family: 'Chalkboard';
}

.btn_content{
    width: 90px;
    margin: 0 auto;
    .bnt_inner{
        width: 90px;
    }
}


#body{
    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    #main{
        flex: 1;
    }
    #footer{
        margin:0 auto;
        background-color:$headlineColor;
        color:white;
        width: 100%;
        // bottom: 0; /*下に固定*/
        text-align: center;
        // margin-top: 100px;
    }
}

