{% extends "layout.html" %}
{% block header %}
<li class="list-group-item layout_back"><a href={{url_for('blog.question', user_name="None")}}>Q&A</a></li>
<li class="list-group-item layout_back"><a href={{url_for('blog.terms', user_name="None")}}>利用規約</a></li>
{% endblock %}
{% block content %}

<h1 class="description_title text-center mt-5">Health Check Delivery とは？</h1>
<div class="use_video mt-5">
  <video class="video" src="{{url_for('static', filename='img/description/use.mp4') }}" poster="{{url_for('static', filename='img/description/use_img.png') }}" controls></video>
  <p class="text-center">使い方はこちら！</p>
</div>
<div class="button_content mt-5">
    <a href={{url_for('auth.register')}} class="button_link">
      <p class="button_text button_size">はじめる</p>
    </a>
</div>

{% endblock %}

