{% extends "layout.html" %}
{% block header %}
<li class="list-group-item layout_back"><a href={{url_for('blog.question', user_name="None")}}>Q&A</a></li>
<li class="list-group-item layout_back"><a href={{url_for('blog.terms', user_name="None")}}>利用規約</a></li>
{% endblock %}
{% block content %}

<div class="authprofile">
  <h1 class="text-center profile_text mt-5">プロフィール設定</h1>
</div>

<!--
  <form method="post">
    <label for="weight">体重（kg）</label>
    <input name="weight" id="weight" required>
    <label for="height">身長（cm）</label>
    <input name="height" id="height" required>
    <input type="radio" name="gender" value="male">男性
    <input type="radio" name="gender" value="female">女性
    <input type="submit" value="アレルギー設定へ">
  </form>
-->

  <form method="post" class="login_form">
    <div class="form-group profile_text mt-3">
      <label for="weight">体重（kg）</label>
      <input name="weight" class="form-control" id="formGroupExampleInput" placeholder="体重を入力してください" required>
    </div>
    <div class="form-group profile_text mt-3">
      <label for="height">身長（cm）</label>
      <input name="height" class="form-control" id="formGroupExampleInput2" placeholder="身長を入力してください" required>
    </div>
    <div class="custom-control custom-radio profile_text mt-3">
      <input type="radio" id="customRadio1" name="gender" class="custom-control-input" value="male" required>
      <label class="custom-control-label" for="customRadio1">男性</label>
    </div>
    <div class="custom-control custom-radio profile_text mt-3">
      <input type="radio" id="customRadio2" name="gender" class="custom-control-input" value="female" required>
      <label class="custom-control-label" for="customRadio2">女性</label>
    </div>
    <button type="submit" class="btn btn-outline-danger mt-3" value="アレルギー設定へ">アレルギー設定へ</button>
  </form>

{% endblock %}