{% extends "layout.html" %}
{% block content %}

  <h1>新規登録画面</h1>

  <form method="post">
    <label for="username">名前</label>
    <input name="username" id="username" required>
    <label for="password">パスワード</label>
    <input type="password" name="password" id="password" required>
    <label for="address">住所</label>
    <input name="address" id="address" required>
    <label for="tel">電話番号</label>
    <input name="tel" id="tel" required>
    <label for="mail">メールアドレス</label>
    <input name="mail" id="mail">

<!---
    <label for="weight">体重</label>
    <input name="weight" id="weight" required>
    <label for="height">身長</label>
    <input name="height" id="height" required>
    <input type="radio" name="gender" value="male">男性
    <input type="radio" name="gender" value="female">女性
    <input type="radio" name="course" value="health">標準健康コース
    <input type="radio" name="course" value="diet">ダイエットコース
    <input type="radio" name="course" value="muscle">筋肉コース
  -->
    <input type="submit" value="Register">
  </form>

{% endblock %}