{% extends "layout.html" %}
{% block content %}

  <h1>新規登録画面</h1>

  <form method="post">
    <label for="username">名前</label>
    <input name="username" id="username" required>
    <label for="password">パスワード</label>
    <input type="password" name="password" id="password" required>
    <label for="address">住所</label>
    <input name="address" id="address" required>
    <label for="tel">電話番号</label>
    <input name="tel" id="tel" required>
    <label for="mail">メールアドレス（任意）</label>
    <input name="mail" id="mail">
    <input type="submit" value="プロフィール説明へ">
  </form>

{% endblock %}